@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --srtBtn: rgba(163,164,156,255);
    --card-col: rgb(211, 211, 140);
    --card-hover: rgb(136, 136, 136);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: rgba(163,164,156,255);
    filter: grayscale(60%);
}

input {
    font-size: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 20px 20px;
}

/* Search bar */
.search-box {
    margin-right: 20px;
}
.row {
    display: flex;
    align-items: center;
}
.row > #search-btn {
    border: 0;
    position: absolute;
    right: 46px;
    font-size: 1.6rem;
    cursor: pointer;
    background: transparent;
}
input[type=search] {
    border-radius: 25px;
    border: rgb(40, 38, 38) solid 3.5px;
    width: 80px;
    font-size: 18px;
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: transparent;
    padding: 8px 20px 8px 45px;
    filter: brightness(100%);
    transition: width 400ms ease-in-out;
}
input[type=search]:focus,
input[type=search]:not(:placeholder-shown) {
    width: 250px;
    transition: width 400ms ease-in-out;
}

/* Filter & sort buttons */
.filter-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}
.sort-btn, .sortTwo-btn {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 4px;
    background-color: var(--srtBtn);
    border: transparent;
    border-radius: 4px;
    outline: 0;
    font-size: .9rem;
    gap: 3px;
    cursor: pointer;
}
#filterDropdown {
    margin: 20px 0 20px 20px;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

/* Card container */
#container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    width: 200px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    vertical-align: text-top;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 10px;
    transition: 200ms ease-in-out;
    gap: 10px;
}
.card:hover {
    box-shadow: 2px 4px 10px var(--card-hover);
}
.card button {
    background-color: #93948c;
    height: 30px;
    width: 140px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
}
.card button:hover {
    transform: scale(1.01);
    background-color: #bfbfba;
}
.card img {
    width: 100%;
    margin: 10px 0;
    border-radius: 6px;
}